# Secrets
.env

# Python artifacts
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
.Python
dist/
build/
*.pyo
*.pyd
*.whl
pip-wheel-metadata/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# VS Code settings
.vscode/

# Home Assistant runtime files
home-assistant.log
home-assistant.log.*
home-assistant_v2.db*
*.db

#Mac bits
.DS_Store

# Dev bits
screenshots/
logs/
*.log
playwright_tests/screenshots/

# Junk
junk/
2025-07-28-i-think-were-halfway-through-a-change-to-a-differ.txt
